*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #40144f;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  
}
.title{
  flex: 1;
}
.title h3{
  font-size: 1.5rem;
  text-transform: capitalize;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top:3rem;
  background-color: rgba(255,255,255,.9);
  min-width: 500px;
  max-width:750px;
  min-height: 400px;
  gap: 3rem;
}
.questions-div{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: .5rem;
  flex: 3;
} 
.question{
  padding:6px 20px;
  background-color: #fff;
  position: relative;
}
.question p{
  background-color:#fff;
  margin-bottom: 6px; 
  user-select: none;
  font-weight: bolder;
}
.question h4{
  font-size: 1rem;
  font-weight: lighter;
}
.toggle-icon{
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  outline: none;
  background-color: grey;
  color: #fff;
  font-size: .8rem;
  cursor: pointer;
  padding: 3px 3px 0 3px;
  border-radius: 50%;
}